#vertical-container {
    display: flex;
    flex-direction: column;
    background: #333;
    height: 100%;
    width: 90vw;
    color: white;
}

@font-face {
    font-family: Hyperspeed; /* font from https://cooltext.com/Download-Font-Hyperspeed */
    src: url('../../assets/fonts/hyperspd.ttf');
}

h1 {
    font-family: Hyperspeed;
    text-align: center;
    font-size: 5vw; /* vw = viewport width responsive font-size: https://www.w3schools.com/howto/howto_css_responsive_text.asp */ 
    letter-spacing: 0.5em;
}

h2 {
    width: 100%;
    margin: 20px 0px;
}

.workout-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.video-container, .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-container > iframe, .card {
    width: 38rem;
    min-width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

iframe {
    height: 20rem;
    border: none;
}

@media screen and (max-width: 750px) {
    .video-container {
        justify-content: center;
    }

    .video-container > div {
        width: 100%;
    }
}







