<div id="vertical-container">
    <h1>KEEP MOVING</h1>
    <div class="workout-container">
        <h2>YouTube Workouts</h2>
        <div class="card-container">
            <div class="card bg-dark" style="width: 38rem;">
                <img src="../../assets/images/stretch.jpg" class="card-img-top" alt="woman stretching">
                <div class="card-body">
                    <h5 class="card-title">EmkFit by Emily Thorne</h5>
                    <p class="card-text">EmkFit includes HIIT dance workouts to popular music, strength training, gym walk-throughs and lots of flailing.</p>
                    <a href="https://www.youtube.com/c/emkfit" target="_blank" class="btn btn-primary stretched-link">Launch EmkFit</a>
                </div>
            </div>
            <div class="card bg-dark" style="width: 38rem;">
                <img src="../../assets/images/yoga.jpg" class="card-img-top" alt="woman practicing yoga">
                <div class="card-body">
                    <h5 class="card-title">Yoga with Adriene by Adriene Mishler</h5>
                    <p class="card-text">Soothing yoga workouts often great for low-impact movement, mental focusing and flexibility.</p>
                    <a href="https://www.youtube.com/c/yogawithadriene/featured" target="_blank" class="btn btn-primary stretched-link">Launch Yoga with Adriene</a>
                </div>
            </div>
        </div>
        <div class="video-container">     
            <iframe src="https://www.youtube.com/embed/4AHVAHcbRok"></iframe>
            <iframe src="https://www.youtube.com/embed/J-05m7bboK0"></iframe>
            <iframe src="https://www.youtube.com/embed/55N6iXV0ZSQ"></iframe>
            <iframe src="https://www.youtube.com/embed/X3-gKPNyrTA"></iframe> 
        </div>
    </div>
</div>
