.nav-container  { 
    background: #000; 
    color: white; 
    width: 10vw;
    min-width: 150px;
    height: 100%;
    min-height: 100vh; /* vh = viewport height */
}

.nav-item {
    padding: 5px 0px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(219, 219, 219);
}



/* If time: make light/dark theme accessible? https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme 
 * 
.day { background: #eee; color: black; } 
.night { background: #333; color: white; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}*/
