#vertical-container {
    display: flex;
    flex-direction: column;
    background: #333; /* was 333 */
    height: 100%;
    width: 90vw;
    color: white;
}

@font-face {
    font-family: Hyperspeed; /* font from https://cooltext.com/Download-Font-Hyperspeed */
    src: url('../fonts/hyperspd.ttf');
}

h1 {
    font-family: Hyperspeed;
    text-align: center;
    font-size: 5vw; /* vw = viewport width responsive font-size: https://www.w3schools.com/howto/howto_css_responsive_text.asp */ 
    letter-spacing: 0.5em;
}

h2 {
    width: 100%;
    margin: 20px 0px;
}

.workout-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

#min-timer-field, #sec-timer-field {
    font-size: 10em;
    text-align: center;

}

/* Gets rid of up and down arrow default design */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

#timer-field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timer-field {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#countdown-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#countdown-wrapper h3 {
    font-size: 24vw;
}

#countdown-display {
    text-align: center;
}

#countdown-display button, #start-timer-btn {
    font-size: 4vh;
    width: 30%;
    min-width: 100px;
    margin: 10px 30px;
}

#start-timer-btn {
    margin: 30px 0;
    width: 100%;
    height: 40%;
}



