#vertical-container {
    display: flex;
    flex-direction: column;
    background: #333; /* was 333 */
    height: 100%;
    width: 90vw;
    color: white;
}

@font-face {
    font-family: Hyperspeed; /* font from https://cooltext.com/Download-Font-Hyperspeed */
    src: url('../../assets/fonts/hyperspd.ttf');
}

h1 {
    font-family: Hyperspeed;
    text-align: center;
    font-size: 5vw; /* vw = viewport width responsive font-size: https://www.w3schools.com/howto/howto_css_responsive_text.asp */ 
    letter-spacing: 0.5em;
}

h2, table {
    width: 100%;
    margin: 20px 0px;
}

.workout-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #212529;
}

.remove-workout-btn {
    padding: 10px;
}

.remove-workout-btn:hover {
    cursor: pointer;   
}

/*
#vertical-container {
    display: flex;
    flex-direction: column;
    background: #333;
    height: 100%;
    width: 90vw;
    color: white;
}

@font-face {
    font-family: Hyperspeed; 
    src: url('../../assets/fonts/hyperspd.ttf');
}

h1 {
    font-family: Hyperspeed;
    text-align: center;
    font-size: 5vw; vw = viewport width responsive font-size: https://www.w3schools.com/howto/howto_css_responsive_text.asp 
    letter-spacing: 0.5em;
}

h2, table {
    width: 100%;
    margin: 20px 0px;
}

.workout-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
*/




